/* Body */
body {
    background-color: black;
    color: white;
    text-align: center;
    background-image: url("../imagenes/imagenbocado_opt.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

/* Header */
.Titulo {
    color:white; 
    text-decoration: none;
}